NODE_ENV=""
USE_EMULATORS=""
DEFAULT_LANGUAGE=""
DEFAULT_LANGUAGE_PATH=""
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""