# Dependencias
node_modules/
**/node_modules/

# Builds y compilación
dist/
**/dist/
.angular/
**/.angular/
out/
build/
.swc/
*.tsbuildinfo
**/*.tsbuildinfo

# Entornos y logs
.env
.env.local
.env.*.local
*.local
firebase-debug.log
ui-debug.log

# Firebase emulators
.firebase/
**/.firebase/
.firebase-data/
**/.firebase-data/

# Test coverage
coverage/
**/coverage/

# IDEs, OS y Git
.vscode/
.idea/
.DS_Store
Thumbs.db
.git/

# Prisma (opcional, pero buena práctica no copiar la BD local si usas SQLite)
*.db
*.db-journal