<div class="flex flex-col gap-2 mb-8">
  <h2 class="heading-2">{{ 'members.staff.title' | translate }}</h2>
  <p class="text-on-surface-variant text-sm">
    {{ 'members.staff.description' | translate: { count: totalMembers() } }}
  </p>
</div>

@if (membersLoading()) {
  <coaster-loading />
}

@for (member of members(); track member.id) {
  <coaster-staff-member-card
    [staffName]="member.userName"
    [staffEmail]="member.userEmail"
    [staffImage]="member.userImage"
    [roleName]="member.role"
    [showDeleteButton]="member.showDeleteButton"
    [isCurrentUser]="member.isCurrentUser"
    [isOnlyOwner]="member.isOnlyOwner"
    (deleteClicked)="handleClickDeleteMember(member)"
  />
} @empty {
  <p>{{ 'members.staff.no_members' | translate }}</p>
}

@if (isOwner()) {
  <coaster-fab routerLink="invite" />
}

@if (isInviteMode()) {
  <coaster-bottom-sheet (closed)="closeModal()">
    <coaster-invite-member-form (canceled)="closeModal()" (invited)="closeModal()" />
  </coaster-bottom-sheet>
}
