<coaster-section-title
  [heading]="'members.staff.title' | translate"
  [description]="'members.staff.description' | translate: { count: totalMembers() }"
  class="mb-8"
/>

@if (list.isLoading()) {
  <coaster-loading />
}

@for (member of members(); track member.id) {
  <coaster-staff-member-card
    [staffName]="member.userName"
    [staffEmail]="member.userEmail"
    [staffImage]="member.userImage"
    [roleName]="member.role"
  />
}

@if (currentUserRole() === 'OWNER') {
  <coaster-fab routerLink="invite" />
}

@if (isInviteMode()) {
  <coaster-bottom-sheet (closed)="closeModal()">
    <coaster-invite-member-form
      [disabled]="list.isLoading() || isSubmitting()"
      (canceled)="closeModal()"
      [submitAction]="inviteMemberSubmit"
    />
  </coaster-bottom-sheet>
}
