<coaster-section-title
  [heading]="'members.staff.title' | translate"
  [description]="'members.staff.description' | translate: { count: totalMembers() }"
  class="mb-8"
/>

@if (membersLoading()) {
  <coaster-loading />
}

@for (member of members(); track member.id) {
  <coaster-staff-member-card
    [staffName]="member.userName"
    [staffEmail]="member.userEmail"
    [staffImage]="member.userImage"
    [roleName]="member.role"
    [showDeleteButton]="member.showDeleteButton"
    (deleteClicked)="onDeleteMemberClicked(member)"
  />
} @empty {
  <p>{{ 'members.staff.no_members' | translate }}</p>
}

@if (isOwner()) {
  <coaster-fab routerLink="invite" />
}

@if (isInviteMode()) {
  <coaster-bottom-sheet (closed)="closeModal()">
    <coaster-invite-member-form (canceled)="closeModal()" (invited)="closeModal()" />
  </coaster-bottom-sheet>
}
